voila==0.5.8
jupyter==1.1.1
requests==2.32.3
dataframe_image==0.2.7
pandas==2.2.3
numpy==2.2.6
ipywidgets==8.1.7
openpyxl==3.1.5
python-docx==1.1.2
Pillow==11.2.1
beautifulsoup4==4.13.4
cssutils==2.11.1
lxml==5.4.0
playwright==1.52.0
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
urllib3==2.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
et_xmlfile==2.0.0
websockets==15.0.1
widgetsnbextension==4.0.14
jupyterlab_widgets==3.0.15
nbclient==0.10.2
nbconvert==7.16.6
jupyter_server==2.16.0
jupyter_core==5.7.2
jupyter_client==8.6.3